body{
    background-image: url("../imagens/pantanal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#pa1{
    color: white;
    text-align: center;
    background-color: blueviolet;
}
#ta1{
    font-family: courier;
    font-size: 30px;

}
#fa1{
    background-color: linen;
}